@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
h3 {
  font-size: 44px;
  line-height: 55px;
  color: #121212;
  font-weight: 600;
}
h4 {
  font-size: 22px;
  line-height: 25px;
  color: #121212;
  font-weight: 600;
}
h6 {
  font-size: 20px;
  line-height: 32px;
  color: #6c6c6c;
  margin-top: 16px;
  font-weight: normal;
}
.main-btn {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 2px solid transparent;
  padding: 0 32px;
  font-size: 16px;
  line-height: 48px;
  color: #0067f4;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-out 0s;
  z-index: 5;
}
/* thanh nav */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: transparent;
  padding: 1rem 6.5rem;
  transition: all 0.5s ease;
  z-index: 100000;

  box-shadow: 0px 4px 24px 0px #00000040;
}
.nav .scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
  box-shadow: 7px 10px 15px rgba(0, 0, 0, 0.3);
}
.nav .navbar-toggler {
  display: none;
  border: none;
  outline: none;
}
.nav .navbar-toggler .toggler-icon {
  width: 27px;
  height: 3px;
  background-color: #121212;
  margin: 5px 0;

  display: block;
  transition: all 0.3s ease-out 0s;
}
.nav .menu-bar .menu-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav .menu-bar .menu-items li {
  margin: 0 15px;
}
.nav .menu-bar .menu-items li a {
  color: #000;
  font-size: 18px;
  font-weight: 600;
}
.nav .menu-bar .menu-items li a:hover {
  color: #4f47e4;
}
.nav .navbar-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav .navbar-social span {
  font-size: 18px;
  font-weight: 600;
  padding-right: 10px;
  color: #6c6c6c;
}
.nav .navbar-social ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav .navbar-social ul li {
  margin: 0 7px;
}
.nav .navbar-social ul li a {
  color: #6c6c6c;
  font-size: 22px;
}
/* Pricing */
.pricing {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.pricing h6 {
  margin-bottom: 6rem;
}
.pricing .table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pricing .basic {
  width: 355px;
  height: 100%;
  border: 1px solid #535cf1;
  border-radius: 20px;
}
.pricing .basic h3 {
  text-align: center;
  font-weight: 300;
  padding: 40px 0;
  background-color: #ecf0f1;
  transition: all ease 0.6s;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  clip-path: polygon(0, 0, 100% 0, 100% 90%, 0 100%);
}
.pricing .basic:hover h3 {
  background-image: linear-gradient(to right, #535cf1, #a147e4);
  color: #fff;
}
.pricing .standard h3 {
  background-image: linear-gradient(to right, #535cf1, #a147e4);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  color: #fff;
}
.pricing .basic .price {
  display: block;
  text-align: center;
  padding: 20px 0;
}
.pricing .basic .price .sing {
  display: inline-block;
  font-size: 28px;
  font-weight: 400;
  vertical-align: middle;
}
.pricing .basic .price .currency {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: -2px;
  line-height: 60px;
  padding: 0;
  vertical-align: middle;
}

.pricing .basic .price .cent {
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  vertical-align: bottom;
}
.pricing .basic .price .month {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  vertical-align: bottom;
}
.pricing .basic ul li {
  border-top: 1px solid #ccc;
  padding: 18px 0;
  border-bottom: 1px solid #ccc;
  color: #7f8c8d;
}
.pricing .basic ul li i {
  padding-right: 5px;
  color: #535cf1;
}
.pricing .header-btn {
  margin: 2rem auto;
  width: 170px;
}
.pricing .header-btn a {
  font-weight: normal;
  font-size: 18px;
  border-radius: 50px;
  outline: medium none;
  border: 1px solid #2ecc71;
  color: #1d1d1d;
}
.pricing .basic:hover .header-btn a {
  background-image: linear-gradient(to right, #535cf1, #a147e4);
  border: 1px solid #2ecc71;
  color: #fff;
}
.pricing .standard .header-btn a {
  background-image: linear-gradient(to right, #535cf1, #a147e4);
  border: 1px solid #2ecc71;
  color: #fff;
}
div .table {
  margin-left: 5rem;
  margin-right: 5rem;
}
#pricing {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
/* footer */
footer {
  background-color: #f4f6f7;
  padding: 7rem;
  padding-top: 2rem;
}
footer .row-one {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
footer .row-one ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
footer .row-one a {
  padding-right: 20px;
  font-size: 26px;
  color: #6c6c6c;
}
footer .second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .second-row h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #6c6c6c;
  padding-bottom: 20px;
}
footer .second-row li a {
  padding-bottom: 12px;
}

footer .second-row li a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #121212;
}
footer .second-row .first-row:nth-child(4) {
  max-width: 300px;
}
footer .second-row .newsletter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 5px;
}
footer .second-row .newsletter input {
  width: 100%;
  height: 44px;
  border-radius: 50px;
  padding: 0 24px;
  border: 0;
  background-color: rgba(33, 33, 33, 0.12);
  font-weight: 500;
  outline: none;
}
footer .second-row .newsletter input::placeholder {
  opacity: 1;
  color: #6c6c6c;
}
footer .second-row .newsletter button {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 0;
  font-size: 20px;
  color: #121212;
  background-color: none;
  cursor: pointer;
}
footer .second-row .text {
  margin-top: 16px;
}
/* copyright */
.copyright {
  background-color: #2b354f;
  padding: 23px 0;
}
.copyright p {
  text-align: center;
  color: #fff;
}
.copyright p a {
  color: #1abc9c;
}
